.version.index /* version checker */
{
	color: #0000E1;
	background-color: #525268;
}

.html
{
	background-color: #FFCC00;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 750px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-left: auto;
	margin-right: auto;
}

#u2007
{
	z-index: 407;
	width: 60px;
	top: 195px;
	left: 40px;
}

#ppu2006
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu2006
{
	z-index: 408;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u2006
{
	z-index: 0;
	width: 60px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu2003
{
	width: 0.01px;
	position: relative;
	left: 5px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#pu2003
{
	z-index: 409;
	width: 0.01px;
	position: relative;
}

#u2003
{
	z-index: 0;
	width: 50px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1985
{
	width: 0.01px;
	position: relative;
	z-index: 2;
}

#u1985
{
	z-index: 412;
	width: 50px;
	margin-right: -10000px;
}

#u2004
{
	z-index: 410;
	width: 50px;
	height: 50px;
	margin-top: 2px;
}

#u2005
{
	z-index: 411;
	width: 50px;
	height: 50px;
	margin-top: 2px;
}

#u1991
{
	z-index: 414;
	width: 50px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 5px;
}

#u1997
{
	z-index: 416;
	width: 50px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 5px;
}

#menuu1877
{
	z-index: 418;
	width: 50px;
	top: 200px;
	left: 45px;
}

#u1885
{
	width: 50px;
}

#u1888
{
	width: 50px;
	min-height: 17px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u1888:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1888:active
{
	margin: 0px -10000px 0px 0px;
}

#u1890-3
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u1888:hover #u1890-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1888:active #u1890-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1957
{
	width: 50px;
	min-height: 17px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u1888.MuseMenuActive,#u1957:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1957:active
{
	margin: 0px -10000px 0px 0px;
}

#u1959-3
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u1888.MuseMenuActive #u1890-3,#u1957:hover #u1959-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1957:active #u1959-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1956,#u1963
{
	width: 50px;
	margin-top: 2px;
}

#u1964
{
	width: 50px;
	min-height: 17px;
	padding-bottom: 33px;
	margin-right: -10000px;
}

#u1957.MuseMenuActive,#u1964:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1964:active
{
	margin: 0px -10000px 0px 0px;
}

#u1964.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u1965-3
{
	width: 50px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u1957.MuseMenuActive #u1959-3,#u1964:hover #u1965-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1964:active #u1965-3
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#ppu465
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -22px;
	margin-right: -10000px;
}

#pu465
{
	width: 0.01px;
}

#u465
{
	z-index: 2;
	width: 1023px;
	height: 738px;
	margin-right: -10000px;
	left: 1px;
}

#u1487
{
	z-index: 3;
	width: 961px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 1px;
	padding: 800px 29px 36px 33px;
}

#u1388
{
	z-index: 164;
	width: 956px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
}

#u1389-4
{
	z-index: 165;
	width: 219px;
	min-height: 38px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	margin-left: 53px;
	margin-top: 15px;
	position: relative;
}

#pu1605
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 15px;
}

#u1605
{
	z-index: 171;
	width: 10px;
	height: 447px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#pu1525
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 10px;
}

#u1525
{
	z-index: 169;
	width: 893px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
}

#u1594
{
	z-index: 162;
	width: 893px;
	background-color: transparent;
	position: relative;
}

#u1658
{
	z-index: 157;
	width: 956px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-top: 33px;
	position: relative;
}

#u1659-4
{
	z-index: 158;
	width: 102px;
	min-height: 40px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	margin-left: 53px;
	margin-top: 15px;
	position: relative;
}

#pu1661
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 15px;
}

#u1661
{
	z-index: 150;
	width: 506px;
	min-height: 316px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1664
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 559px;
}

#u1664
{
	z-index: 151;
	width: 248px;
	min-height: 152px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1666
{
	z-index: 152;
	width: 248px;
	min-height: 154px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u1700-4
{
	z-index: 153;
	width: 86px;
	min-height: 36px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #147CCC;
	margin-left: 817px;
	margin-top: 8px;
	position: relative;
}

#u1697
{
	z-index: 106;
	width: 956px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-left: 5px;
	margin-top: 9px;
	position: relative;
}

#u1698-4
{
	z-index: 102;
	width: 119px;
	min-height: 38px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	margin-left: 53px;
	margin-top: 15px;
	position: relative;
}

#u1781
{
	z-index: 8;
	width: 956px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-top: 691px;
	position: relative;
}

#u1780-4
{
	z-index: 4;
	width: 119px;
	min-height: 38px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	margin-left: 48px;
	margin-top: 15px;
	position: relative;
}

#u1843
{
	z-index: 86;
	width: 956px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-top: 692px;
	position: relative;
}

#u1842-4
{
	z-index: 82;
	width: 119px;
	min-height: 38px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	margin-left: 48px;
	margin-top: 15px;
	position: relative;
}

#u1850
{
	z-index: 87;
	width: 850px;
	background-color: transparent;
	margin-left: 53px;
	margin-top: 15px;
	position: relative;
}

#u1850_img
{
	padding-bottom: 1px;
}

#u1865-4
{
	z-index: 93;
	width: 845px;
	min-height: 217px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	margin-left: 53px;
	margin-top: 16px;
	position: relative;
}

#pamphletu1782
{
	z-index: 9;
	width: 0.01px;
	height: 647px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2611px;
	left: 87px;
}

#u1783
{
	z-index: 10;
	width: 207px;
	position: relative;
	margin-right: -10000px;
	margin-top: 613px;
	left: 1px;
}

#u2037
{
	position: absolute;
	width: 33px;
	height: 33px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu2037:hover #u2037
{
	width: 33px;
	height: 33px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2037:active #u2037
{
	width: 33px;
	height: 33px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2037.PamphletThumbSelected #u2037
{
	width: 34px;
	height: 34px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u2121-4
{
	z-index: 13;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2037:hover #u2121-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	left: -1px;
	min-height: 33px;
}

#pu2037:active #u2121-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	left: -1px;
	min-height: 33px;
}

#pu2037.PamphletThumbSelected #u2121-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: 1px;
	min-height: 33px;
}

#pu2037:hover #u2121-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2037:active #u2121-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2037 #u2121-4
{
	position: relative;
	width: 33px;
	margin-right: -10000px;
	left: -1px;
}

#pu2044
{
	position: absolute;
	width: 0.01px;
	left: 43px;
}

#u2044
{
	position: absolute;
	width: 33px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu2044:hover #u2044
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2044:active #u2044
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2044.PamphletThumbSelected #u2044
{
	width: 34px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u2122-4
{
	z-index: 22;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2044:hover #u2122-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2044:active #u2122-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2044:hover #u2122-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2037.PamphletThumbSelected #u2121-4 p,#pu2044:active #u2122-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2046
{
	position: absolute;
	width: 0.01px;
	left: 87px;
}

#u2046
{
	position: absolute;
	width: 33px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu2046:hover #u2046
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2046:active #u2046
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2046.PamphletThumbSelected #u2046
{
	width: 34px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u2124-4
{
	z-index: 31;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2046:hover #u2124-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2046:active #u2124-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2046:hover #u2124-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2044.PamphletThumbSelected #u2122-4 p,#pu2046:active #u2124-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2096
{
	position: absolute;
	width: 0.01px;
	left: 129px;
}

#u2096
{
	position: absolute;
	width: 34px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu2096:hover #u2096
{
	width: 34px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2096:active #u2096
{
	width: 34px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2096.PamphletThumbSelected #u2096
{
	width: 35px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u2125-3
{
	z-index: 40;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2096:hover #u2125-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
	min-height: 33px;
}

#pu2096:active #u2125-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
	min-height: 33px;
}

#pu2096.PamphletThumbSelected #u2125-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	left: 2px;
	min-height: 33px;
}

#pu2096:hover #u2125-3 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2046.PamphletThumbSelected #u2124-4 p,#pu2096:active #u2125-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2096 #u2125-3
{
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#u2129-3
{
	z-index: 43;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2096:hover #u2129-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2096:active #u2129-3
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2096:hover #u2129-3 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2096.PamphletThumbSelected #u2125-3 p,#pu2096:active #u2129-3 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2130-4
{
	z-index: 46;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2096:hover #u2130-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	min-height: 33px;
}

#pu2096:active #u2130-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	min-height: 33px;
}

#pu2096.PamphletThumbSelected #u2130-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	left: 1px;
	min-height: 33px;
}

#pu2096:hover #u2130-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2096.PamphletThumbSelected #u2129-3 p,#pu2096:active #u2130-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2096 #u2130-4
{
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
}

#pu2107
{
	position: absolute;
	width: 0.01px;
	left: 174px;
}

#u2107
{
	position: absolute;
	width: 33px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu2107:hover #u2107
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2107:active #u2107
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu2107.PamphletThumbSelected #u2107
{
	width: 34px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u2131-4
{
	z-index: 55;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu2107:hover #u2131-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2107:active #u2131-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2107:hover #u2131-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2096.PamphletThumbSelected #u2130-4 p,#pu2107:active #u2131-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1790
{
	position: absolute;
	width: 854px;
	background-color: transparent;
}

#u1790popup
{
	z-index: 62;
}

#u2039
{
	z-index: 63;
	width: 854px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2078
{
	z-index: 64;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u2045
{
	z-index: 66;
	width: 854px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2084
{
	z-index: 67;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 17px;
}

#u2047
{
	z-index: 69;
	width: 854px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2090
{
	z-index: 70;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u2097
{
	z-index: 72;
	width: 854px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2101
{
	z-index: 73;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u2108
{
	z-index: 75;
	width: 854px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2112
{
	z-index: 76;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u1874-4
{
	z-index: 78;
	width: 86px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 3223px;
	left: 854px;
}

#u1860
{
	z-index: 89;
	width: 840px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 3359px;
	left: 97px;
}

#u1861
{
	z-index: 90;
	width: 10px;
	height: 574px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 3359px;
	left: 87px;
}

#u1862
{
	z-index: 91;
	width: 10px;
	height: 574px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 3359px;
	left: 927px;
}

#u1864
{
	z-index: 92;
	width: 830px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 3923px;
	left: 97px;
}

#u1875-4
{
	z-index: 97;
	width: 86px;
	min-height: 36px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #147CCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 4166px;
	left: 851px;
}

#u2228
{
	z-index: 101;
	width: 850px;
	height: 574px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 3359px;
	left: 87px;
}

#pamphletu1721
{
	z-index: 107;
	width: 0.01px;
	height: 646px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1861px;
	left: 87px;
}

#u1737
{
	z-index: 108;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 613px;
}

#pu2037,#pu1738
{
	position: absolute;
	width: 0.01px;
}

#u1738
{
	position: absolute;
	width: 33px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu1738:hover #u1738
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu1738:active #u1738
{
	width: 33px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu1738.PamphletThumbSelected #u1738
{
	width: 34px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u1739-4
{
	z-index: 111;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu1738:hover #u1739-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu1738:active #u1739-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu1738:hover #u1739-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu2107.PamphletThumbSelected #u2131-4 p,#pu1738:active #u1739-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu1740
{
	position: absolute;
	width: 0.01px;
	left: 44px;
}

#u1740
{
	position: absolute;
	width: 32px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu1740:hover #u1740
{
	width: 32px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu1740:active #u1740
{
	width: 32px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu1740.PamphletThumbSelected #u1740
{
	width: 33px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u1741-4
{
	z-index: 120;
	width: 33px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu1740:hover #u1741-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu1740:active #u1741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu1740.PamphletThumbSelected #u1741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	min-height: 33px;
}

#pu1740:hover #u1741-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu1738.PamphletThumbSelected #u1739-4 p,#pu1740:active #u1741-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu1742
{
	position: absolute;
	width: 0.01px;
	left: 86px;
}

#u1742
{
	position: absolute;
	width: 32px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
}

#pu1742:hover #u1742
{
	width: 32px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu1742:active #u1742
{
	width: 32px;
	height: 32px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #6B6B6B;
	background-color: rgba(107, 107, 107, 1);
	-pie-background: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu1742.PamphletThumbSelected #u1742
{
	width: 33px;
	height: 33px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 1);
	-pie-background: none;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u1743-4
{
	z-index: 129;
	width: 33px;
	min-height: 33px;
	border-color: #DEDEDE;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu1742:hover #u1743-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu1742:active #u1743-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 33px;
}

#pu2044.PamphletThumbSelected #u2122-4,#pu2046.PamphletThumbSelected #u2124-4,#pu2096.PamphletThumbSelected #u2129-3,#pu2107.PamphletThumbSelected #u2131-4,#pu1738.PamphletThumbSelected #u1739-4,#pu1742.PamphletThumbSelected #u1743-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 33px;
	margin-right: -10000px;
	min-height: 33px;
}

#pu1742:hover #u1743-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu1740.PamphletThumbSelected #u1741-4 p,#pu1742:active #u1743-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu1742.PamphletThumbSelected #u1743-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu2044 #u2122-4,#pu2046 #u2124-4,#pu2096 #u2129-3,#pu2107 #u2131-4,#pu1738 #u1739-4,#pu1740 #u1741-4,#pu1742 #u1743-4
{
	position: relative;
	width: 33px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1724
{
	position: absolute;
	width: 850px;
	background-color: transparent;
}

#u1724popup
{
	z-index: 136;
}

#u1725
{
	z-index: 137;
	width: 850px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2139
{
	z-index: 138;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u1733
{
	z-index: 140;
	width: 850px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2145
{
	z-index: 141;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u1729
{
	z-index: 143;
	width: 850px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	margin-right: -10000px;
	position: relative;
}

#u2151
{
	z-index: 144;
	width: 817px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u1873-4
{
	z-index: 146;
	width: 86px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 2474px;
	left: 851px;
}

#u1604
{
	z-index: 170;
	width: 893px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1308px;
	left: 87px;
}

#u1607
{
	z-index: 172;
	width: 10px;
	height: 447px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 871px;
	left: 980px;
}

#u1608
{
	z-index: 173;
	width: 10px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 292px;
}

#u1609
{
	z-index: 174;
	width: 10px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 765px;
}

#u1610
{
	z-index: 175;
	width: 10px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 534px;
}

#u1611
{
	z-index: 176;
	width: 205px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 87px;
}

#u1612
{
	z-index: 177;
	width: 205px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 775px;
}

#u1613
{
	z-index: 178;
	width: 205px;
	height: 93px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1021px;
	left: 87px;
}

#u1615
{
	z-index: 179;
	width: 205px;
	height: 93px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1021px;
	left: 775px;
}

#u1617
{
	z-index: 180;
	width: 205px;
	height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1114px;
	left: 87px;
}

#u1619
{
	z-index: 181;
	width: 205px;
	height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1114px;
	left: 775px;
}

#u1620
{
	z-index: 182;
	width: 232px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 302px;
}

#u1621
{
	z-index: 183;
	width: 221px;
	height: 140px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 881px;
	left: 544px;
}

#u1611:hover,#u1612:hover,#u1620:hover,#u1621:hover
{
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin: 881px -10000px 0px 0px;
}

#u1622
{
	z-index: 184;
	width: 232px;
	height: 93px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1021px;
	left: 302px;
}

#u1623
{
	z-index: 185;
	width: 221px;
	height: 93px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1021px;
	left: 544px;
}

#u1613:hover,#u1615:hover,#u1622:hover,#u1623:hover
{
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin: 1021px -10000px 0px 0px;
}

#u1624
{
	z-index: 186;
	width: 232px;
	height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1114px;
	left: 302px;
}

#u1625
{
	z-index: 187;
	width: 221px;
	height: 194px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1114px;
	left: 544px;
}

#u1617:hover,#u1619:hover,#u1624:hover,#u1625:hover
{
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	margin: 1114px -10000px 0px 0px;
}

#slideshowu1173
{
	z-index: 188;
	width: 0.01px;
	height: 767px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1185
{
	position: absolute;
	width: 1023px;
	height: 767px;
	background-color: transparent;
}

#u1185popup
{
	z-index: 189;
}

#u1186
{
	z-index: 190;
	width: 1023px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2020
{
	z-index: 192;
	width: 1023px;
	height: 767px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1180
{
	position: absolute;
	width: 888px;
	background-color: transparent;
	top: 727px;
	left: 33px;
}

#u1180popup
{
	z-index: 194;
}

#u1182-4
{
	z-index: 195;
	width: 868px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u2026-4
{
	z-index: 199;
	width: 868px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	text-align: left;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1178-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 727px;
	left: 921px;
}

#u1178-4popup
{
	z-index: 203;
}

#u1175-3
{
	position: absolute;
	width: 13px;
	min-height: 555px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 192px;
}

#u1175-3popup
{
	z-index: 207;
}

#u1179-3
{
	position: absolute;
	width: 14px;
	min-height: 647px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	padding: 10px;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 100px;
	left: 989px;
}

#u1179-3popup
{
	z-index: 210;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#topo
{
	width: 22px;
	margin-right: -10000px;
}

#u526
{
	z-index: 359;
	width: 516px;
	height: 92px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1px;
}

#u519
{
	z-index: 360;
	width: 1023px;
	height: 100px;
	margin-right: -10000px;
	left: 1px;
}

#u520
{
	z-index: 361;
	width: 507px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 5px;
}

#u520_img
{
	padding-right: 1px;
}

#menuu527
{
	z-index: 363;
	width: 473px;
	margin-right: -10000px;
	left: 517px;
}

#u535
{
	width: 51px;
	min-height: 100px;
	margin-right: -10000px;
}

#u538
{
	width: 51px;
	padding-bottom: 83px;
}

#u538:hover
{
	margin: 0px;
}

#u538:active
{
	margin: 0px;
}

#u539-4
{
	width: 45px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 3px;
}

#u1964.MuseMenuActive #u1965-3,#u538:hover #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u538:active #u539-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u528
{
	width: 55px;
	min-height: 100px;
	margin-right: -10000px;
	left: 53px;
}

#u529
{
	width: 55px;
	padding-bottom: 83px;
}

#u538.MuseMenuActive,#u529:hover
{
	margin: 0px;
}

#u529:active
{
	margin: 0px;
}

#u530-4
{
	width: 49px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 3px;
}

#u538.MuseMenuActive #u539-4,#u529:hover #u530-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u529:active #u530-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u542
{
	width: 62px;
	min-height: 100px;
	margin-right: -10000px;
	left: 110px;
}

#u543
{
	width: 62px;
	padding-bottom: 83px;
}

#u529.MuseMenuActive,#u543:hover
{
	margin: 0px;
}

#u543:active
{
	margin: 0px;
}

#u544-4
{
	width: 56px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 3px;
}

#u529.MuseMenuActive #u530-4,#u543:hover #u544-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u543:active #u544-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u549
{
	width: 52px;
	min-height: 100px;
	margin-right: -10000px;
	left: 174px;
}

#u550
{
	width: 52px;
	padding-bottom: 83px;
}

#u543.MuseMenuActive,#u550:hover
{
	margin: 0px;
}

#u550:active
{
	margin: 0px;
}

#u553-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 2px;
}

#u543.MuseMenuActive #u544-4,#u550:hover #u553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u550:active #u553-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u556
{
	width: 111px;
	min-height: 100px;
	margin-right: -10000px;
	left: 228px;
}

#u559
{
	width: 111px;
	padding-bottom: 83px;
}

#u550.MuseMenuActive,#u559:hover
{
	margin: 0px;
}

#u559:active
{
	margin: 0px;
}

#u562-4
{
	width: 106px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 2px;
}

#u550.MuseMenuActive #u553-4,#u559:hover #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u559:active #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u563
{
	width: 52px;
	min-height: 100px;
	margin-right: -10000px;
	left: 341px;
}

#u564
{
	width: 52px;
	padding-bottom: 83px;
}

#u559.MuseMenuActive,#u564:hover
{
	margin: 0px;
}

#u564:active
{
	margin: 0px;
}

#u566-4
{
	width: 47px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 2px;
}

#u559.MuseMenuActive #u562-4,#u564:hover #u566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u564:active #u566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u570
{
	width: 78px;
	min-height: 100px;
	margin-right: -10000px;
	left: 395px;
}

#u573
{
	width: 78px;
	padding-bottom: 83px;
}

#u564.MuseMenuActive,#u573:hover
{
	margin: 0px;
}

#u573:active
{
	margin: 0px;
}

#u573.MuseMenuActive
{
	margin: 0px;
}

#u575-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 41px;
	left: 2px;
}

#u564.MuseMenuActive #u566-4,#u573:hover #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u573:active #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u573.MuseMenuActive #u575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2783
{
	z-index: 406;
	width: 517px;
	height: 195px;
	margin-right: -10000px;
}

.ie #u2783
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2813
{
	z-index: 213;
	width: 1023px;
	padding-bottom: 34px;
	margin-left: 1px;
}

#u2828
{
	z-index: 214;
	width: 95px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 43px;
}

#u2816-4
{
	z-index: 215;
	width: 95px;
	min-height: 39px;
}

#u2820-4
{
	z-index: 219;
	width: 60px;
	min-height: 18px;
}

#u2821-4
{
	z-index: 223;
	width: 33px;
	min-height: 18px;
}

#u2822-4
{
	z-index: 227;
	width: 53px;
	min-height: 18px;
}

#u2823-4
{
	z-index: 231;
	width: 53px;
	min-height: 18px;
}

#u2824-4
{
	z-index: 235;
	width: 43px;
	min-height: 18px;
}

#u2839
{
	z-index: 239;
	width: 136px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 193px;
}

#u2825-4
{
	z-index: 240;
	width: 97px;
	min-height: 39px;
}

#u2827-4
{
	z-index: 244;
	width: 86px;
	min-height: 18px;
}

#u2829-4
{
	z-index: 248;
	width: 76px;
	min-height: 18px;
}

#u2832-4
{
	z-index: 252;
	width: 71px;
	min-height: 18px;
}

#u2833-4
{
	z-index: 256;
	width: 48px;
	min-height: 18px;
}

#u2834-4
{
	z-index: 260;
	width: 136px;
	min-height: 18px;
}

#u2835-4
{
	z-index: 264;
	width: 43px;
	min-height: 18px;
}

#u2836-4
{
	z-index: 268;
	width: 57px;
	min-height: 18px;
}

#u2848
{
	z-index: 272;
	width: 179px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 341px;
}

#u2837-4
{
	z-index: 273;
	width: 76px;
	min-height: 39px;
}

#u2838-4
{
	z-index: 277;
	width: 38px;
	min-height: 18px;
}

#u2840-4
{
	z-index: 281;
	width: 46px;
	min-height: 18px;
}

#u2841-4
{
	z-index: 285;
	width: 179px;
	min-height: 39px;
	margin-top: 15px;
}

#u2842-4
{
	z-index: 289;
	width: 124px;
	min-height: 18px;
}

#u2843-4
{
	z-index: 293;
	width: 124px;
	min-height: 18px;
}

#u2844-4
{
	z-index: 297;
	width: 124px;
	min-height: 18px;
	top: -1px;
	margin-bottom: -1px;
}

#u2861
{
	z-index: 301;
	width: 109px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 547px;
}

#u2846-4
{
	z-index: 302;
	width: 79px;
	min-height: 39px;
}

#u2847-4
{
	z-index: 306;
	width: 46px;
	min-height: 18px;
}

#u2850-4
{
	z-index: 310;
	width: 33px;
	min-height: 18px;
}

#u2851-4
{
	z-index: 314;
	width: 109px;
	min-height: 18px;
}

#u2852-4
{
	z-index: 318;
	width: 40px;
	min-height: 18px;
}

#u2853-4
{
	z-index: 322;
	width: 49px;
	min-height: 18px;
}

#u2854-4
{
	z-index: 326;
	width: 65px;
	min-height: 18px;
}

#u2855-4
{
	z-index: 330;
	width: 43px;
	min-height: 18px;
}

#u2856-4
{
	z-index: 334;
	width: 43px;
	min-height: 18px;
	top: -1px;
	margin-bottom: -1px;
}

#u2857-4
{
	z-index: 338;
	width: 49px;
	min-height: 18px;
}

#u2858-4
{
	z-index: 342;
	width: 40px;
	min-height: 18px;
	margin-top: 1px;
}

#u2859-4
{
	z-index: 346;
	width: 46px;
	min-height: 18px;
}

#u2860-4
{
	z-index: 350;
	width: 33px;
	min-height: 18px;
	margin-top: 1px;
}

#u2868
{
	z-index: 354;
	width: 334px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 678px;
}

#u2881
{
	z-index: 357;
	width: 70px;
	margin-right: -10000px;
	margin-top: 4352px;
	left: 1035px;
}

body
{
	position: relative;
	min-width: 1024px;
}

